<div class="container mt-5 margenFinal">
  <div class="row">
    <div class="col-lg-12">
      <p class="lead">
        Photoexpress es una compañía que se dedica al manejo del registro
        fotográfico. Actualmente, solo se dedican a las ceremonias de graduación
        de las instituciones de educación superior; por lo tanto, se requiere
        que diseñe y desarrolle una aplicación web para registrar los eventos de
        las temporadas de la graduación.
      </p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets\Img\imagen 3.jpg"
          alt="Imagen 1"
        />
        <div class="card-body">
          <h5 class="card-title">Tarjeta 1</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum rem
            dolore facilis laudantium accusamus necessitatibus libero aperiam
            autem. Ducimus tenetur nihil ipsa molestiae voluptates hic ea quas
            repudiandae sapiente ut.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets\Img\66963e5b-bbc0-4385-871c-cd006118faba.fcbf6c60978a03c764323b13ac379bd4.webp"
          alt="Imagen 2"
        />
        <div class="card-body">
          <h5 class="card-title">Tarjeta 2</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
            quasi rem. Corrupti nulla eius suscipit, esse sit, veniam est
            accusamus dicta aperiam obcaecati asperiores voluptas veritatis id.
            Molestias, accusantium obcaecati.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets\Img\581953daf1fc89aab02bd87e7733e0c0.webp"
          alt="Imagen 3"
        />
        <div class="card-body">
          <h5 class="card-title">Tarjeta 3</h5>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil
            repellat placeat id corporis pariatur quasi magnam architecto,
            repudiandae quo consequatur inventore illo vero laborum ut eum
            necessitatibus soluta earum asperiores?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
